<h1>About</h1>
<p>A website to plan BLUE</p>
<nav class="round">
  <ul>
   
	<li><%= link_to "Mission", mission_path%>
   <li><%= link_to "Vision", vision_path%>
	<li><%= link_to "Values", values_path%>

  </ul>
</nav>